@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@import "tailwindcss";

*{
  
  font-family: "tangerine", cursive;
  
  box-sizing: border-box;
}



.fondo{
  background-color: #a5e0d6 ;
}

.letra{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.letrador{
  color: #c0b1a2
}

h1,h2{
  @apply text-red-400
}

.general{
  @apply text-red-300 text-center
}